.idea/
*.iml
.project
.settings/
.classpath
target/
.externalToolBuilders/
deploy/templates/log4j.xml
src/main/webapp/node_modules/
target/
logs/
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
