
body,ul,form,h1,h2,h3,h4,h5{ margin:0; padding:0; list-style:none; }
body{ font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#333; background:#f0f0f0; }
a{text-decoration:none; color: #fb7c16; }
a:hover{ color: #FB7C16; }
td{word-break:break-all; }
textarea{resize: none; }
img{ border:0; }
.fr{float:right; }
.fl{float:left; }
.hide{ display: none; }
.cf { *zoom: 1; }
.cf:before, .cf:after { display: table; line-height: 0; content: "";}
.cf:after { clear: both; }
.cf { zoom:1; }
.cen{ text-align: center; }
.orange{ color: #fb7c16; }
.error{color: #B10101;}
.warn{color: #d70014;}
.upfile-btn{
	position: relative;
	overflow: hidden;
	display: inline-block;
}

/*common*/
.y-btn{display:block; padding-left:58px; width:175px; height:89px; 
	background:url(http://resource.xiaomi.net/miuimarket/dev/v2/y-btn-1.png) no-repeat; font-family: 微软雅黑; color:#fff;
	-webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    border-radius: 45px;
    cursor: pointer;
}
.y-btn:hover{ text-decoration: none; color: #fff; box-shadow: 2px 3px 12px 0px rgba(128, 128, 128, 0.2);}
.y-btn-r{
	text-align: center; width:175px; height:89px;  background:url(http://resource.xiaomi.net/miuimarket/dev/v2/y-btn-1.png) #F0F0F0 right no-repeat;border-top-right-radius: 40px; border-bottom-right-radius: 40px;
}
.y-btn-r h2{ padding: 14px 44px 0 0;letter-spacing: 4px; line-height: 37px;}
.y-btn-r p { padding: 3px 44px 0 0px; font-size: 12px; letter-spacing: 2px;}
.btn-wrap{ text-align: center; margin: 50px auto 81px; }

.waiting{ color: #fb7c16; }

.icon-warn{width:16px;height:16px;background:url(http://resource.xiaomi.net/miuimarket/dev/v2/icon-warn.png)}
.failed, .form-horizontal .failed{color:#f12525}
.caret{vertical-align:middle;margin-left:8px;opacity:0.6; *filter:alpha(opacity=60)}

.open{position:relative}
.open .dropdown-menu{display:block}
.dropdown-menu li{line-height:28px;white-space:nowrap;padding:0 12px}

.modal-loading{
	color: white;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background: #000 url(http://resource.xiaomi.net/miuimarket/dev/uploading.gif) no-repeat center center;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
#loading{ margin: 0 0 32px; text-align: center; }
.loading{ display: inline-block; width: 72px; height: 11px; background: url(http://resource.xiaomi.net/miuimarket/dev/uploading.gif) no-repeat center center;}
.ie7con{ *z-index: -1;}

/*reset bootstrap*/
.help-block, .help-inline{ color: #a9a9a9;}

/*通用标题*/
.common-hd, .black-hd{ text-align: center; margin: 29px 0;}
.common-hd h1{ font-size: 24px; color: #fa8425; }
.common-hd p{ color: #fa8425; color: #666666; margin-top: 2px; font-size: 16px; font-family: 微软雅黑}
.black-hd h1{margin-bottom: 22px; font: normal 24px/24px '微软雅黑'; color: #666;}

.btn-orange{display:inline-block; overflow:hidden; position:relative;text-shadow:0px 1px 3px rgba(112,112,112,.3);font-size:20px;border:none;padding:16px 35px;background:#FB7C16;border-radius:5px;color:#fff;font-family:"微软雅黑";}
.btn-orange:hover{text-decoration:none;color:#fff;background:#EE7100;}
.input-file-wrap{position:relative;text-shadow:0 0 5px #585858;color:#FFF;line-height:27px;text-align:center;width:94px;height:27px;background:#ACAAAA;display:inline-block;*display:inline;*zoom:1;}
.input-file-wrap input{height:27px;width:94px;left:0;position:absolute;top:0;opacity:0; filter:alpha(opacity=0);}
.bind-tips{ color: #999999; text-align: center; margin-top: 12px; line-height: 22px;}

/*crumbs*/
.crumbs {color: #666; margin-top: 20px;}
.crumbs-index{ display: inline-block; padding-left: 25px; background: url(http://resource.xiaomi.net/miuimarket/dev/v2/home.png) 0px 2px no-repeat; color: #999999; }
.crumbs li{ margin-right: 7px; float: left;}
.crumbs a{color: #999999; }

.thumb{ padding: 10px 28px; margin: 0 auto; display: block;}
.thumb:hover{ text-decoration: none; }
.thumb .item-ul-info{ margin-top: 10px; color: #666;}
.thumb img{ max-width: none; box-shadow: 0 5px 21px 0 rgba(193, 193, 193, 1); 
	padding: 4px; -webkit-transition: all .5s ease; transition: all .5s ease; width: 72px; height: 72px; }
.thumb:hover img{ box-shadow: 0 5px 35px 0 rgba(93, 93, 93, 0.6) }

/*-------------layout------------*/
.headercon, .main, .app-hd, .version-con{ margin:0 auto; width:960px;}
.main{ position: relative; }
#wrap{ background:#f0f0f0; }

.header{ background: #4b4b4a; }
.header a{ color:#fff; }
.headercon{ height: 52px; position:relative; }
.logo{ text-indent: -9999px; display:block; width: 190px; height: 52px; background: url(http://resource.xiaomi.net/miuimarket/dev/v2/logo.png) 0 12px no-repeat; }
.userinfo{ position:absolute; top:23px; right:0; color: #fff; }
.userinfo span{ margin:0 10px; }
.userinfo a{ margin-left: 12px; color: #acaaaa; }

.nav{ background: #fb7c16; margin: 0; }
.nav-ul{ margin:0 auto; width:960px;}
.nav ul li{ float: left; font: normal 16px/35px 黑体; }
.nav-ul-first{ margin-left: -28px; }
.nav ul li a{ display: inline-block; height: 35px; line-height: 35px; 
	padding: 0 28px; color: #fee5d0;
	position: relative;
}
.nav ul li a:hover, .nav ul li a.active{ color: #fff; text-decoration: none; }
.nav ul li .active:after{
	content: "";
	left: 50%;
	position: absolute;
	background: url(http://resource.xiaomi.net/miuimarket/dev/v2/triangle1.png) 0 0 no-repeat;
	bottom: -7px;
	display: inline-block;
	width: 13px;
	height: 7px;
}

.content{position:relative; min-height:375px;_height:375px;border:1px solid #DEDEDE;border-top:none;background:#FFF;padding-bottom:30px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;margin-bottom:5px}
.base-con{position:relative;min-height:375px;_height:375px;border:1px solid #dedede;background:#fff;padding-bottom:30px;border-radius:5px;margin:33px 0 5px}
.min-con{ position:relative;padding: 16px 12px;min-height: 18px;_height:18px;border:1px solid #dedede;background:#fff; border-radius:5px;margin:5px 0 }

.box-shadow,.box-detail-shadow{height:23px;background:url(http://resource.xiaomi.net/miuimarket/dev/v2/con-bg.png) 0 bottom no-repeat #fff;width:960px;left:-1px;position:absolute;bottom:-20px}
.box-detail-shadow{width:700px;background:url(http://resource.xiaomi.net/miuimarket/dev/v2/detail-con-bg.png) 0 bottom no-repeat #fff}
.toolbar{border-top-right-radius:5px;border-top-left-radius:5px;background:url(http://resource.xiaomi.net/miuimarket/dev/v2/con-inner-bg.png) 0 bottom #ACAAAA no-repeat;text-align:left;color:#000;height:39px;border-right:1px solid #DEDEDE;padding:0 6px 21px 21px}
.toolbar span{margin:0 10px;color:#a8a8a8; }
.toolbar .toolbar-desc{margin:0 10px;color:#a8a8a8; font-size: 12px; color: #FFF;}
.toolbar b{ line-height: 28px; font-size: 18px; color: #fff; text-shadow: 0px 0px 7px rgba(0, 0, 0, .3); line-height: 39px; font-family: "微软雅黑"; font-weight: normal; }
.toolbar a{ display:inline-block; border: 2px solid #e0e0e0; padding: 3px 21px; color: #fc8d35; border-radius: 3px; background: #fff; margin: 6px 0;}
.toolbar .upfile-btn{
	height: 18px;
	width: 106px;
}
.toolbar .upfile-btn span{color: #FC8D35;}

.footer{ text-align: center; padding: 62px 0 40px; line-height: 28px; color: #999999; }
.footer-login{ text-align:center; line-height:1.5; padding:60px 0 132px 0; color:#999999;
background: url(http://resource.xiaomi.net/miuimarket/dev/v2/footer-top.png) #fff center top no-repeat; border-top: 1px solid #e4e4e4; }
.footer span{ margin:0 10px; }
.footer a, .footer-login a, .footer-login span{ color:#757575; }

/*-------------tit------------*/
.sub-nav{ text-align:center; border:1px #ccc solid;margin:20px 20px 0 20px;background:#eee;padding:5px; }
.content-body{ line-height: 1.5; width: 760px; margin: 0 auto; padding: 20px 0 80px;}
.tip-con{ padding: 0px 67px; line-height: 1.5; }
.doc-tit{ text-align: center; }

/*-------------steps------------*/
.steps-wrap{ width: 518px; margin: 42px auto; }
.steps{ height:90px; margin: 0 auto; }
.steps.s1{background:url(http://resource.xiaomi.net/miuimarket/dev/v2/up-v1.png) no-repeat;}
.steps.s2{background:url(http://resource.xiaomi.net/miuimarket/dev/v2/up-v2.png) no-repeat;}
.steps.s3{background:url(http://resource.xiaomi.net/miuimarket/dev/v2/up-v3.png) no-repeat;}

.step3{ padding-top: 24px; text-align: center;}
.step3 h3{color: #FB7C16; font: normal 36px/2 "微软雅黑";}
.step3 p{ color: #999; margin-bottom: 44px;}
.step3 .btn-orange{padding: 17px 108px;}

/*-------------upload app------------*/
.upload-wrap{text-align:center;color:#999;line-height:23px;padding:24px 0}
#multipleUploadCon{text-align:left;padding:0 92px}
#formAppSubmit{margin-top:52px;text-align:center}
input.btn-file{width:auto ;right:0;font-size:1001px; position:absolute;top:0;height:100%; opacity:0; filter: alpha(opacity=0); text-indent: -200px; cursor: pointer;}

/*-------------reason-con------------*/
.reason-con{
	width: 543px;
	color: #999;
	padding: 27px 0 0 24px;
	margin: 0 auto;
	background: url(http://resource.xiaomi.net/miuimarket/dev/v2/reson-warn.png) 0 24px no-repeat;
}
.reason-con ol{ padding: 12px 0 12px 18px; color: #fb7c16; }
.reason-con ol li{ line-height: 29px; }

/*审核页面*/
.reason .reason-con ol{color: #999999 ;}

/*-------------addversion-con------------*/
.addversion-con{ min-height: 120px; padding: 24px 0; min-height: 0; }
.addversion-btn{ padding: 16px 76px; }
.addversion-btn-p{text-shadow: none; color: #f0f0f0; font-size: 12px; margin: 12px 0 0px 0; letter-spacing: 1.5px; }
.addversion-con #formAppSubmit{ margin: 0; }


/*-------------myitems------------*/
.myitems .content{min-height: 375px; _height: 375px;}
.item-ul{overflow:hidden; zoom:1; padding: 0 29px 0 29px; }
.myitems .item-ul{ margin-bottom: 21px; background: url(http://resource.xiaomi.net/miuimarket/dev/v2/dot.png) 0 200px repeat-x;}
.item-ul li{ margin: 0 3px 0 31px ; float:left;text-align:center; width:175px;white-space:nowrap;overflow:hidden;padding: 21px 0 27px;color: #999;}
.item-ul li b{ color: #666; font-weight: normal; }
.myitems .item-ul li{ margin-left: 0;}
.myitems .item-ul .thumb {padding: 10px 0px;}
.myitems .item-ul li .failed{ overflow: hidden;display: inline-block;width: 67px; vertical-align: top; text-overflow: ellipsis;}
.myitems .item-ul waiting{ text-overflow: ellipsis; overflow: hidden; display: inline-block; width: 87px; }

.item-ul-title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:26px;color:#666666;}
 .running{ color: #34a05d;}

.annouce{ padding: 25px 0; width: 958px; margin: 12px auto; border: 1px solid #dedede; border-radius: 5px; background: #fff;}
.annouce-con{ padding-left: 81px; line-height: 20px; }
.annouce-con a{ display: inline-block; padding-right: 53px; color: #fb7c16; font-weight: bold; }
.annouce-con span{ padding-right: 40px; }

.turn-page{ text-align: center; bottom: 21px;width: 100%;position: absolute;}
.turn-page a{ display: inline-block; border: 1px solid #dfdede; padding: 7px 8px;
 color: #666666; margin-left: 2px; }
.turn-page a:hover, .turn-page .active { border: 1px solid #fb7c16; background: #fb7c16; color: #fff; }
.turn-page .pre-page{ background: url(http://resource.xiaomi.net/miuimarket/dev/v2/pre.png) 9px center no-repeat; padding-left: 23px; }
.turn-page .pre-page:hover{ background: url(http://resource.xiaomi.net/miuimarket/dev/v2/pre.png) #fb7c16 9px center no-repeat;}
.turn-page .next-page{ background: url(http://resource.xiaomi.net/miuimarket/dev/v2/next.png) 59px center no-repeat; padding-right: 23px; }
.turn-page .next-page:hover{ background: url(http://resource.xiaomi.net/miuimarket/dev/v2/next.png) #fb7c16 59px center no-repeat; }

.multiple-wrap{ background: url(http://resource.xiaomi.net/miuimarket/dev/v2/dot.png) 0 0 repeat-x; margin: 0 auto; width: 848px; padding: 23px 20px; position:relative; text-align:center; margin-bottom: 6px; color: #999; }
.multiple-wrap .btn-orange{ padding: 16px 81px; }

/*-------------detail------------*/
.sidebar{ float:right; width:205px; display:inline; padding-top:13px; text-align: center;}

.bar{ margin: 6px 0; background: #E9E9E9; padding: 4px 10px; font-weight: bold; }
.bar a{ margin-left:10px;font-weight:normal}
.bar-con{ padding: 0px 0 23px 136px; }

.detail-info{ padding: 12px 18px 0 35px; color: #666666; }
.detail-info th{ text-align:right; white-space:nowrap; vertical-align: top;}
.detail-info td{ text-align:left; color: #999; padding-bottom: 16px; vertical-align: top;}

.edit-tab{font-size:14px; margin-left:8px}
.edit-tab th{ text-align:right;white-space:nowrap;vertical-align:top;color:#626262;}
.edit-tab th b{color:#ff8400}
.edit-tab td{ text-align:left;white-space:nowrap;line-height:150%;color:#666;font-size:12px;padding-bottom:10px}

.overhide500{width:500px;overflow:hidden}

#gallery{ margin-top: 50px; background: url(http://resource.xiaomi.net/miuimarket/dev/v2/dot.png) 0 0 repeat-x; padding-bottom: 58px;}
#gallery b{ display: block; padding:42px 0; }
#gallery td{ padding-right: 29px; width: 100px; }

.detail-desc{float:left;width:260px}
.detail-desc .baseinfo{color:#666;padding-left:21px;margin-top:14px}
.detail-desc .thumb{width:136px;padding:0 28px 10px}
.detail-desc .baseinfo li{line-height: 28px;}
.detail-desc h4{ display: inline-block; *display: inline; *zoom: 1; color: #999; font-weight: normal; }
.baseinfo-th{ display: inline-block; width: 72px; text-align: right; }
.detail-con{float:right;width:700px;position:relative}
.detail-con .content{ min-height: 174px; _height:174px; padding-bottom: 6px; }
.detail-versioninfo{margin-top:12px;color:#999;line-height:21px}
.detail-versioninfo b{ color: #666; font-weight: normal; }

/*-------------upload------------*/
.upload-toolbar{background:#dadada;padding-left:21px;text-align:left;color:#999;height:37px;line-height:37px}
.upload-toolbar a{float:right;display:inline-block;color:#999;background:url(http://resource.xiaomi.net/miuimarket/dev/v2/dot-gray-v.png) left 0 repeat-y;padding:0 23px}
.upload-box{ padding: 19px 0 0 0; }
.upload-box .thumb{padding: 19px 0 28px 0; text-align: center;}
.upload-box th{ color: #666666; padding: 6px 6px; text-align: right; }
.upload-box td{ color: #999999; height: 27px; }
.content{ min-height: 150px; _height: 150px;}

/*-------------截图上传------------*/
.screentshot-wrap, table.screentshot-wrap{ width: 684px; padding: 30px 0 45px 140px;}
.screentshot-desc{ color: #999999; }
#sortableWrap{ overflow:hidden;zoom:1}
#sortable { position: relative;list-style-type: none; margin: 0; padding: 10px; overflow:hidden; float:left}
#sortable li { float: left; width:100px; height:165px; padding:2px; text-align:center; 
	font-size:12px; border:5px solid white; margin-right:18px; margin-bottom:4px;border-radius:5px; 
	position:relative; box-shadow: 0 1px 17px 0 rgba(0, 0, 0, .3); z-index: 999; }
.ui-sortable .file { display: none; font-size: 80px; }
.filebtn{position: absolute;bottom:2px; left:4px;}
.filedel{position: absolute;top:-13px; right:-13px; text-indent: -9999px; display: inline-block; width:25px; height: 24px;  background:url(http://resource.xiaomi.net/miuimarket/dev/v1/close.png) no-repeat;}
.filename{position: absolute;top:80px; left:0; width:100%; text-align:center}
.filethumb{position: absolute; left:2px;top:2px;}
.fileadd{ position: absolute; z-index: 1; right:21px; width:100px; height:164px; padding:2px; cursor:pointer; border:5px solid #fff; margin-right:4px; margin-bottom:4px;border-radius:5px; background:#eeeeee url(http://resource.xiaomi.net/miuimarket/dev/v1/add.png) no-repeat center center;}
.current{ opacity: 0; filter: alpha(opacity=0);}
.current .filedel{filter: alpha(opacity=0);}
.current .file{ width:106px; height:173px; cursor: pointer; display: block; }

/*-------------bind------------*/
.bind-hd{background:url(http://resource.xiaomi.net/miuimarket/dev/v2/dot-gray.png) 0 bottom repeat-x;text-align:center;padding:40px 0 63px}
.bind-hd h1{margin-bottom:22px;font:normal 24px/24px 微软雅黑;color:#666}
.bind-hd i{margin-right:7px}
.bind-hd p{color:#999}
.bind-con{padding:61px 0 95px}
.bind-con .y-btn{width:385px;margin:0 auto 55px}
.bind-con .y-btn-r{width:385px}
.bind .toolbar{text-align:center}
.bind .content{min-height:69px;margin-bottom:12px;border-radius:0 0 5px 5px}
.form-horizontal .control-label{width:322px; font-size: 14px; color: #666666; }
.form-horizontal .controls{ margin-left:338px; *margin-left: 0;}
p.help-inline{margin-top:5px}
.imgUploadTip{height: 18px; display: inline-block; width: 200px; overflow: hidden; text-overflow: ellipsis;}
.bind-con-tips{ text-align: center; color: #a9a9a9; margin-bottom: 25px; padding-top: 12px; }
.bind-con-tips p{ margin-bottom: 5px }

/*-------------version------------*/
.version-wrap{padding:0 32px}
.app-tit{color:#707070;margin:8px 0 12px 30px}
.app-status{color:#fc8d35}
.version-box{
	float:left;
	margin: 50px 0 38px;
	padding: 0px 24px 18px;
	width: 268px;
}
.version-vline{
	background:url(http://resource.xiaomi.net/miuimarket/dev/v2/dot.png) right 0 repeat-y;
}
.version-box .btn-orange{margin:42px 0 0 0px}
.versionlist-con{position:relative;border:1px solid #DEDEDE;border-bottom:none;border-radius:5px;background:#FFF; }
.version-table p{color:#999}
.version-table p span{color:#666}
.version-box-tip{ font-family: 微软雅黑; text-align: center; color: #9F9F9F; font-size: 16px; margin-top: 58px;}

/*-------------news-step1------------*/
.news-step1 th{ color: #FFF; background: #C2C2C2;}
.news-step1 .btn-wrap, .addversion-step1 .btn-wrap{ margin: 0; }
.news-step1 .table tbody tr:hover th {background-color: #C2C2C2;}
.news-step1 td{ border-bottom: 1px solid #bcbcbc; }
.news-step1 tr:last-child td{ border-bottom: none; }
.news-step1 .btn-orange{ *vertical-align: bottom; *margin-right:12px;}

.hdicon-upload .version-box{ height: 265px; }
