.highlight{ background: #f8e600; padding: 2px; }

/*高清图标上传ui*/
input.btn-file {
width: auto;
right: 0;
font-size: 1001px;
position: absolute;
top: 0;
height: 100%;
opacity: 0;
filter: alpha(opacity=0);
text-indent: -200px;
cursor: pointer;
}
.version-box {
	float: left;
	margin: 50px 0 38px;
	padding: 0px 24px 18px;
	min-width: 268px;
}
.thumb {
padding: 10px 28px;
margin: 0 auto;
display: block;
}
.hdicon-upload-wrap .thumb {
position: relative;
overflow: hidden;
padding: 20px 28px;
}
#result200 .thumb{width: 200px; height: 200px; 
background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/hdicon-200.png") center center no-repeat;}
#result200 .thumb img{ width: 200px; height: 200px; }
#result200 .filedel{top: 13px; right: 19px;}
#result284 .thumb{width: 284px; height: 160px; 
background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/hdicon-284.png") center center no-repeat;}
#result284 .thumb img{ width: 284px; height: 160px; }
#result284 .filedel{top: 13px; right: 21px;}
#result300 .thumb {
  width: 300px;
  height: 300px;
  background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/hdicon-300.png") center center no-repeat;
}
#result300 .thumb img {
  width: 300px;
  height: 300px;
}
#result300 .filedel {
  top: 13px;
  right: 19px;
}
#failed300 {
  width: 356px;
}

#result512 .thumb {
	width: 400px;
	height: 400px;
	padding: 0;
	margin-top: 29px;
	background:
		url("//land.xiaomi.net/img/miui/appstore/dev/v3/hdicon-300.png")
		center center no-repeat;
	background-size: contain
}

#result512 .thumb img {
	width: 400px;
	height: 400px;
	background-size: contain
}

#failed512 {
	width: 300px
}

#result512 .filedel {
	top: -10px;
	right: -12px
}

.hdicon-upload-wrap{ position: relative; }
.hdicon-upload-wrap .thumb{ position: relative; overflow: hidden; padding: 20px 28px;}

/*-------------steps------------*/
.step p,
.steps p {
  padding: 26px 65px 0 29px;
  display: inline-block;
  width: 45px;
  font-size: 16px;
  font-family: "Microsoft YaHei";
}
.step .active,
.steps .active {
  color: #FFF;
}
.steps-wrap {
  padding-left: 60px;
  width: 573px;
  margin: 42px auto;
}
.steps {
  height: 90px;
  margin: 0 auto;
  color: #999999;
}
.steps.s1 {
  background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/step1.png") no-repeat;
}
.steps.s2 {
  background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/step2.png") no-repeat;
}
.steps.s3 {
  background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/step3.png") no-repeat;
}
.step3 {
  padding-top: 24px;
  text-align: center;
}
.step3 h3 {
  color: #FB7C16;
  font: normal 36px/2 "微软雅黑";
}
.step3 p {
  color: #999;
  margin-bottom: 44px;
}
.step3 .btn-orange {
  padding: 17px 108px;
}
/*-------------step------------*/
.step-wrap {
  width: 447px;
  margin: 42px auto;
  padding-left: 60px;
}
.step {
  height: 92px;
  color: #999999;
  background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/step-1-3.png") 0 0 no-repeat;
}
.step.s2 {
  background: url("http://i1.ml.mi-img.com/img/miui/appstore/dev/v3/step-2-3.png") 0 0 no-repeat;
}

.failed,
.form-horizontal .failed {
  color: #f12525;
}
