/* line 2, E:\project\static.xiaomi.net\miuimarket\app\dev\src\less\layout\webapp.less */
.webapp .form-horizontal {
  margin: 42px 0 0 30px;
}
/* line 5, E:\project\static.xiaomi.net\miuimarket\app\dev\src\less\layout\webapp.less */
.webapp .thumbnails {
  padding: 28px 56px 28px 56px;
}
/* line 8, E:\project\static.xiaomi.net\miuimarket\app\dev\src\less\layout\webapp.less */
.webapp .create-action {
  text-align: center;
  margin-top: 23px;
}
